#container{
    display:flex;
    /* flex-direction:row; */
    flex-wrap: wrap;
    width:986px;
    height: 986px;
    border: 2px solid black;
}
.square{
    width: 25px;
    height:25px;
    border :1px solid red;
    
}
/* .square:hover{
    background-color: rgb(7, 231, 7);
} */